.triangle-container {
  position: relative;
}


.hex {
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  ); /* hexágono acostado */
  border: 1px solid black;
  background: white;
  cursor: pointer;
  position: absolute;
}