.hex {
  clip-path: polygon(
    50% 0%,    /* punta superior */
    93.3% 25%, /* lado derecho superior */
    93.3% 75%, /* lado derecho inferior */
    50% 100%,  /* punta inferior */
    6.7% 75%,  /* lado izquierdo inferior */
    6.7% 25%   /* lado izquierdo superior */
  );
  border: 2px solid #49922c; 
  background: rgb(67, 62, 206);
  cursor: pointer;
}



/* Opcional: enfoque de botón */
.hex:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #ffbf00;
}
